
<nav class="navbar">
    <a href="{{ path('app_home') }}"><h3>Accueil</h3></a>
    <a href="{{ path('app_animals') }}"><h3>Animaux</h3></a>
      
    {% if app.user %}
        <a href="/api" ><h3>Dashboard</h3></a>
        <a href="{{ path('api_logout') }}" onclick="logout()"><h3>Déconnexion</h3></a>        
    {% else %}
        <a href="{{ path('app_contact') }}"><h3>Nous contacter</h3></a>  
        <a href="{{ path('app_login') }}"><h3>Connexion</h3></a>
    {% endif %}
</nav>

<script>
function logout() {
    fetch('/api/logout', {
        method: 'GET',
        credentials: 'include'
    }).then(() => {
        window.location.href = '/';
    });
}
</script>