{% extends 'base.html.twig' %}

{% block title %}login - Zoo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        const firebaseConfig = {{ firebase_config|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw }};
    </script>
    <script type="module" src="{{ asset('js/login.js') }}"></script>
{% endblock %}

{% block body %}
<div class="page_container">
    <h1>Connexion</h1>

    <form id="form_login">
        <label>
            Email
            <input type="email" name="email" required>
        </label>
        <ul id="errorEmail" class="errors" style="color: red;"></ul>
        <label>
            Mot de passe
            <input type="password" name="password" required>
        </label>
        <ul id="errorPassword" class="errors" style="color: red;"></ul>   
        <div class="captcha-wrapper">
            <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
        </div>
        <div>{{ site_key }}</div>
        <button type="submit"><h4>Connexion</h4></button>
    </form>
    <ul id="errorLogin" class="errors" style="color: red;"></ul>
</div>
{% endblock %}
